#page4 h1{
    text-align: left;
}

.map{
    height: 0;
    width: 100%;
    border: #ffda00 0 solid;
    border-radius: 3px;
}

.tour{
    border: #E64A19 1px solid;
}

.MapClick{
    margin: 0;
    font-size: 0.9em;
}

.tourDescription{
    margin-top: 0.25em;
    margin-bottom: 0;
}